@use './utilities/reset' as *;

body {
	color: #fff;
	overflow: hidden;
}

.square {
	width: 400px;
	height: 400px;
	background-color: lime;
	border: 3px solid black;
    animation: color 2s ease-in-out;
}

@keyframes color {
	0% {
		width: 400px;
		background-color: lime;
	}
	50% {
		width: 800px;
		background-color: royalblue;
	}
	100% {
		width: 200px;
		background-color: tomato;
	}
}
