@use './utilities/reset' as *;
@use './utilities/animation' as animation;

body {
    margin: 50px;
	color: #fff;
	overflow: hidden;
}

div {
	height: 300px;
	width: 300px;
    margin: 10px;
}
.square {
	background-color: royalblue;
	animation: square 4s forwards;
}

.circle {
	border-radius: 50%;
	background-color: gold;
	animation: circle 4s ease-in-out 2s forwards;
}
