@keyframes color {
	0% {
		top: 0;
		left: 250px;
		width: 400px;
		background-color: lime;
	}
	50% {
		top: 100px;
		left: 300px;
		width: 800px;
		background-color: royalblue;
	}
	100% {
		top: 150px;
		left: 800px;
		width: 200px;
		background-color: tomato;
	}
}

@keyframes circle {
	from {
		top: 0;
		left: 0;
		background-color: royalblue;
	}
	to {
		top: 50%;
		left: 50%;
		background-color: lime;
		transform: translate(-50%, -50%);
	}
}
